$primary: #532F16;
$gcaa: #bad04f;

.navmenu {
  font-family: 'Noto Serif TC', serif;
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  .speak-id {
    display: inline-block;
    &.number {
      color: grey;
      font-size: 2em;
      font-style: italic;
      width: 1em;
      padding: 5px;
      font-weight: 400;
    }
  }
}

.headline {
  text-align: center;
  padding: 1em;
}

.content {
  text-align: justify;
  line-height: 2em;
}

.landing-img {
  max-height: 60vh;
  background-size: contain;
}
