$primary: #532F16;

.navmenu {
  font-family: 'Noto Serif TC', serif;
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  .spead-id {
    color: grey;
    font-size: 2em;
    font-style: italic;
    display: inline-block;
    width: 1em;
    padding: 5px;
    font-weight: 400;
  }
}

.headline {
  text-align: center;
  padding: 1em;
}
