$primary: #532F16;

body {
  font-family: 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF6EA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif TC', serif;
  color: $primary;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:not(.btn) {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
    color: $primary;
  }
}
