$primary: #bad04f;
$font-family-sans-serif: -apple-system, 'Noto Sans TC', sans-serif;
$font-family-serif: -apple-system, 'Noto Serif TC', serif;
$body-bg: white;

body {
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 40px;
  line-height: 60px;
}

a:not(.btn) {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: underline;
    color: $primary;
  }
}

nav {
  background-color: $body-bg;
  .navbar-brand {
    font-family: $font-family-serif;
  }
}

.navmenu {
  font-family: $font-family-serif;
  ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
  }
  .speak-id {
    &:hover {
      text-decoration: none !important;
    }
    text-align: justify;
    .number {
      color: grey;
      font-size: 2em;
      font-style: italic;
      width: 1em;
      margin-right: 10px;
      font-weight: 400;
    }
  }
}

.sticky-sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
}

.content {
  text-align: justify;
  line-height: 2em;
}

.btn {
  border-radius: 1.5em !important;
  &.btn-primary {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.footer {
  p {
    font-size: small;
    margin-bottom: 0.25em;
  }
}

blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 0.25em 15px;
  quotes: "\201C""\201D""\2018""\2019";
  & p {
    display: inline;
  }
}

.image-gallery {
  .image-gallery-icon:hover {
    color: $primary !important;
  }
  .image-gallery-thumbnail {
    &.active,
    &:focus,
    &:hover {
      border-color: $primary !important;
    }
  }
}

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

@import "~react-image-gallery/styles/scss/image-gallery.scss";
